<?php

$GLOBALS['TYPO3_CONF_VARS']['DB']['database'] = '{{mysql1_name}}';
$GLOBALS['TYPO3_CONF_VARS']['DB']['host']     = '{{mysql1_host}}';
$GLOBALS['TYPO3_CONF_VARS']['DB']['password'] = '{{mysql1_pass}}';
$GLOBALS['TYPO3_CONF_VARS']['DB']['username'] = '{{mysql1_user}}';

